.qustion {
  width: 100%;
}
.qustion_box1 {
  width: 100%;
  margin-bottom: 10px;
}
.qustion_notice {
  width: 100%;
  height: 30px;
}
.qustion_box2 {
  width: 100%;
}
.qustion_contact_wrap {
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  max-width: 1000px;
  display: flex;  
}
.qustion_contact {
  left: 0;
  right: 0;
  margin: 20px auto;
  width: 180px;
}
.qustion_contact_image {
  width: 180px;
  height: 100px;
}
.qustion_contact_image:hover {
  opacity: 0.7;
  cursor: pointer;
}
.qustion_contact_image img {
  width: 100px;
}
.qustion_contact_name {
  width: 180px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}
.qustion_contact_bar {
  width: 180px;
  height: 5px;
  background-color: rgb(0, 0, 0);
}
.qustion_contact_notice {
  width: 180px;
  height: 120px;
  margin-top: 20px;
}
.qustion_contact_notice span {
  font-weight: 700;
  color: rgb(1, 13, 72);
}


@media screen and (max-width : 1000px){
  .qustion_contact_wrap {
    width: 500px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width : 600px){
  .qustion_contact_wrap {
    width: 300px;
    flex-wrap: wrap;
  }
}